{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

<style>
    input{
        width:400px;
        margin-left:20px;
        background: lightcyan;
        padding:3px;
        border-radius: 7px;
        border: 1px gray solid;
    }
    .formInsc{
        background: lightblue;
        border-radius: 30px;
        box-shadow: inset 0 0 10px darkgray;
        display: block;
        margin:auto;
        width:850px;
        padding: 5%;
        margin-top: 50px;
    }
    .mb-3{
        padding:9px;
        display: inline-block;
    }
    label{
        width:125px;
        font-family: "Droid Sans Mono";
        font-size: larger;
        color:dimgray;
        border-radius: 14px;
        padding: 4px;
    }
</style>
<div class="formInsc">

    <h1 class="display-4 text-center text-secondary p-3 mb-5">Inscription à My Quiz</h1>

        {{ form_start(form) }}
                <div class="mb-3">
                    {{ form_row(form.userName, {'label' : 'Pseudo :', 'attr' : {'placeholder' : 'Mon pseudo, mon prénom..'}}) }}
                </div>

                <div class="mb-3">
                    {{ form_row(form.email, {'label' : 'Email :', 'attr' : {'placeholder' : 'Mon adresse email..'}}) }}
                </div>

                <div class="mb-3">
                    {{ form_row(form.password, {'label' : 'Mot de passe :', 'attr' : {'placeholder' : 'Mon mot de passe secret..'}}) }}
                </div>

                <div class="mb-3">
                    {{ form_row(form.confirm_password, {'label' : 'Confirmation mot de passe :', 'attr' : {'placeholder' : 'Encore mon mot de passe secret..'}}) }}
                </div>
            <button type="submit" class="btn btn-light d-block mx-auto">Inscription</button>
        {{ form_end(form) }}
</div>

{% endblock %}
